@font-face {
    font-family: Inter;
    src: url("../Fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../Fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url(../Fonts/Roboto-Light.ttf);
}

.sideinfo{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 50px;    
}

.sidebar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    background-size: 100%;
    height: auto;
}
    
form{
    margin-top: 10%;
    margin-left: 5%;
}
form header{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 32px;
}

@media (max-width:1000px){
    form header{
        font-size: 20px;
    }
}

.view{
    font-size: 14px;
    font-family: 'Inter';
    margin-top: 16px;
    font-weight: 300;
}

.form-label{
    font-size: 14px !important;
    font-family: 'Inter' !important;
    margin-top: 16px !important;
    font-weight: 300;
}

form h1{
    font-family: 'Roboto-Light';
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 20px;
}

form h1 span{
    color: rgba(117, 104, 104, 1);
}

.form-control::placeholder{
    font-family: 'Inter' !important;
    font-weight: 300;
    color: rgba(210, 210, 210, 1);
    font-size: small;
}

.form-select{
    font-family: 'Inter' !important;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: small;   
}

.form-date{
    font-family: 'Inter' !important;
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-size: 15px;   
    border: 7px black;
}

.btn-sign{
    background-color: rgba(24, 160, 251, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    box-shadow: 0px 2px rgba(44, 43, 43, 0.767);
    width: 118px;
}

.card-img-top{
    width: 50% !important;
    align-self: center !important;
    margin-top: 20px;
}

.bck-btn{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    color: rgba(115, 115, 115, 1);
}
.bck-btn:hover{
    font-weight: bolder;
}

.plus{
    border: none;
    background:none;
    padding-top: 20px;
    margin-left: -20px;
}


.color-input-wrapper {
    height: 1.5em;
    width: 1.5em;
    overflow: hidden;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  .color-input-wrapper  input[type=color] {
      position: absolute;
      height: 4em;
      width: 4em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      border: none;
      margin: 0;
      padding: 0;
    }

    .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }

      .modal-body{
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-height: 15vh;
      }

      .modal-content{
        width: 30vw;
      }

      .spinner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-top-color: #09f;
        animation: spin 1s ease-in-out infinite;
      }
      
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
      